h1, h2 {
  font-family: $default;
  letter-spacing: 0.01em;
  font-weight: bold;
}

label {
  font-family: $default;
  font-weight: 400;
}

h1 {
  font-size: 32px;
  line-height: 1.25em;
  color: $color_00;
}

h2 {
  font-size: 24px;
  line-height: 1.3em;
  color: $color_20;
  margin-bottom: 1em;
}
